<p>user works!</p>

<!-- {{ users[0].name }} -->
<table border="1">
  <tr>
    <th>
      Name
    </th>
    <th>
      Email
    </th>
    <th>
      Actions
    </th>
  </tr>
  @for (user of users; track $index) {
    <tr>
      <td>
        {{ user.name }}
      </td>
      <td>
        {{ user.email }}
      </td>
      <td>
        <button (click)="deleteUser(user)">Delete</button>
        <button (click)="selectUser(user)" >Edit</button>
    </tr>
  }
</table>

<form>
  <input type="text" [(ngModel)]="user.name" name="name" placeholder="Name">
  <input type="text" [(ngModel)]="user.email" name="email" placeholder="Email">
  <button (click)="addUser()">Add</button>
</form>
