
<h1>Profile</h1>

<!--
use material design for the form
-->
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput placeholder="First Name" formControlName="firstName">
    <!-- <input matInput placeholder="First Name" formControlName="firstName" [(ngModel)]="persona.firstName"> -->
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Last Name" formControlName="lastName" [(ngModel)]="persona.lastName">
  </mat-form-field>
  <button mat-raised-button type="submit">Submit</button>
  <button mat-raised-button type="button" (click)="nuevo()">Nuevo</button>
</form>


{{ persona.firstName }} - {{ persona.lastName }}

<router-outlet/>
