<form [formGroup]="forma">
  <div class="form-group">
    <label for="code">Código</label>
    <input type="text" class="form-control" id="code" placeholder="Code" formControlName="code">
  </div>
  <div class="form-group">
    <label for="name">Nombre</label>
    <input type="text" class="form-control" id="name" placeholder="Name" formControlName="name">
  </div>
  <button type="button">
    <span class="glyphicon glyphicon-floppy-disk"></span> Guardar
  </button>
  <button type="button">
    <span class="glyphicon glyphicon-remove"></span> Consultar
  </button>


</form>
