<form [formGroup]="forma">
  <div class="form-group">
    <label for="code">Código</label>
    <input type="text" class="form-control" id="code" placeholder="Code" formControlName="code">
  </div>
  <div class="form-group">
    <label for="name">Nombre</label>
    <input type="text" class="form-control" id="name" placeholder="Name" formControlName="name">
  </div>
  <button type="button" (click)="guardar()">
    <span class="glyphicon glyphicon-floppy-disk"></span> Guardar
  </button>
  <button type="button" (click)="consultar()" >
    <span class="glyphicon glyphicon-remove"></span> Consultar
  </button>
</form>

<table>
  <tr>
    <th>Código</th>
    <th>Nombre</th>
    <th>Acciones</th>
  </tr>
  @for (item of users; track $index){
  <tr>
    <td>{{item.code}}</td>
    <td>{{item.name}}</td>
    <td>
      <button type="button" (click)="editar(item)">
        <span class="glyphicon glyphicon-pencil"></span> Editar
      </button>
      <button type="button" (click)="eliminar(item)">
        <span class="glyphicon glyphicon-trash"></span> Eliminar
      </button>
    </td>
  </tr>
  }
</table>
