<button (click)="sincronizar()">Sincronizar</button>
<form>
  <input type="text" [(ngModel)]="user._id" name="_id" placeholder="ID" >
  <input type="text" [(ngModel)]="user.name" name="name" placeholder="Insert Name User" >
  <input type="text" [(ngModel)]="user.email" name="email" placeholder="Insert Email" >
  <button (click)="new()" >Nuevo</button>
  <button (click)="save()" >Guardar</button>
  <button (click)="list()" >Listar</button>
</form>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Actions</th>
  </tr>
  @for (user of users; track $index){
  <tr>
    <td>{{user._id}}</td>
    <td>{{user.name}}</td>
    <td>{{user.email}}</td>
    <td>
      <button (click)="edit(user)" >Edit</button>
      <button (click)="delete(user)" >Delete</button>
    </td>
  </tr>
  }
</table>

